<% @post_images.each do |post_image| %>
  <div>
      <%= link_to post_image_path(post_image.id) do %>
      <%= image_tag post_image.get_image %>
    <% end %>
    <!-- /post_imagesの中では下のコードだとダミーの画像を表示されていることになているため編集する -->
    <!-- <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p> -->
    <p>投稿ユーザー画像：<%= image_tag post_image.user.get_profile_image(100,100) %></p>
    <p>本のタイトル<%= post_image.book_name %></p>
    <p>説明：<%= post_image.caption %></p>
    <p>ユーザーネーム：<%= post_image.user.name %></p>
  </div>
<% end %>

